{
  "presets": ["react-native"],
  "sourceMaps": true,
  "plugins": [
    ["module-alias", [
        { "src": "./src/containers", "expose": "components" },
        { "src": "./src/containers", "expose": "containers" },
        { "src": "./src/reducers", "expose": "reducers" },
        { "src": "./src/images", "expose": "images" },
        { "src": "./src/actions", "expose": "actions" },
        { "src": "./src/action-types", "expose": "action-types" },
        { "src": "./src/static", "expose": "static" },
        { "src": "./src/wiring", "expose": "wiring" },
        { "src": "./src", "expose": "~" }
    ]]
  ]
}
